In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./DE30_EUR.2019.M1', index_col=None, header=None)
df.columns = ['timestamp', 'Complete', 'Open', 'High', 'Low', 'Close', 'Volume']
df = df[['timestamp','Open','High','Low', 'Close', 'Volume']]
df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df.set_index(['timestamp'])
df.tail()

                        Open     High      Low    Close  Volume
timestamp
2019-08-13 08:52:00  11646.8  11647.6  11641.3  11642.0      97
2019-08-13 08:53:00  11642.6  11652.6  11642.6  11649.6     148
2019-08-13 08:54:00  11649.2  11649.8  11644.6  11644.8      89
2019-08-13 08:55:00  11644.6  11646.6  11643.6  11645.6      97
2019-08-13 08:56:00  11646.0  11646.2  11643.9  11644.6      33

In [3]:
df_backtest = df['2019-07-01':'2019-07-17']
df_backtest

                        Open     High      Low    Close  Volume
timestamp
2019-07-01 00:15:00  12531.5  12542.0  12497.5  12498.5     116
2019-07-01 00:16:00  12499.3  12506.0  12498.0  12498.0      53
2019-07-01 00:17:00  12498.6  12499.0  12491.5  12492.2      63
2019-07-01 00:18:00  12491.8  12496.3  12491.2  12495.3      22
2019-07-01 00:19:00  12496.3  12501.6  12496.3  12500.0      39
2019-07-01 00:20:00  12500.8  12501.2  12499.2  12500.5      15
2019-07-01 00:21:00  12501.0  12501.8  12499.8  12501.2      19
2019-07-01 00:22:00  12501.8  12501.8  12498.5  12498.5      10
2019-07-01 00:23:00  12498.8  12501.0  12498.2  12501.0       8
2019-07-01 00:24:00  12500.5  12501.8  12498.5  12501.2      15
2019-07-01 00:25:00  12500.8  12501.8  12499.8  12501.8       6
2019-07-01 00:26:00  12501.0  12501.0  12500.2  12500.2       2
2019-07-01 00:27:00  12499.8  12499.8  12497.5  12498.0      10
2019-07-01 00:28:00  12497.5  12497.5  12488.3  12489.0      36
2019-07-01 00:29:00  12488.5  12488.5  12485.0  12485.0      19
2019-07-01 00:30:00  12485.5  12488.2  12485.5  12487.0      14
2019-07-01 00:31:00  12486.2  12488.8  12485.2  12488.8      10
2019-07-01 00:32:00  12487.8  12487.8  12487.3  12487.3       2
2019-07-01 00:33:00  12486.8  12486.8  12485.5  12486.0       3
2019-07-01 00:34:00  12486.5  12487.5  12486.0  12486.0       6
2019-07-01 00:35:00  12485.5  12485.5  12483.8  12484.8       8
2019-07-01 00:36:00  12485.2  12485.8  12484.2  12485.8       9
2019-07-01 00:37:00  12485.0  12485.2  12484.6  12484.6       4
2019-07-01 00:38:00  12483.8  12483.8  12482.2  12482.2       4
2019-07-01 00:39:00  12481.8  12483.2  12481.8  12483.0       8
2019-07-01 00:40:00  12482.5  12482.5  12478.5  12478.5      10
2019-07-01 00:41:00  12479.3  12479.3  12478.3  12478.8       4
2019-07-01 00:42:00  12479.3  12480.0  12478.2  12478.2       8
2019-07-01 00:43:00  12479.2  12479.8  12478.8  12479.2       5
2019-07-01 00:44:00  12479.8  12481.5  12479.8  12481.5       8
...                      ...      ...      ...      ...     ...
2019-07-17 19:30:00  12314.5  12315.8  12313.0  12315.8      32
2019-07-17 19:31:00  12316.3  12319.0  12316.0  12319.0      38
2019-07-17 19:32:00  12318.6  12319.0  12317.5  12318.8      37
2019-07-17 19:33:00  12319.3  12320.0  12318.6  12320.0       9
2019-07-17 19:34:00  12319.6  12322.0  12319.5  12322.0      17
2019-07-17 19:35:00  12321.5  12322.3  12321.5  12321.8      35
2019-07-17 19:36:00  12321.5  12322.0  12318.0  12318.0      39
2019-07-17 19:37:00  12317.8  12320.3  12317.8  12320.3      19
2019-07-17 19:38:00  12320.0  12320.3  12319.8  12320.3      57
2019-07-17 19:39:00  12320.0  12320.3  12319.0  12319.5      30
2019-07-17 19:40:00  12319.8  12320.0  12318.8  12319.3      15
2019-07-17 19:41:00  12319.0  12319.3  12317.0  12317.0      11
2019-07-17 19:42:00  12316.2  12319.0  12316.2  12317.8      21
2019-07-17 19:43:00  12317.2  12317.6  12315.8  12316.2      10
2019-07-17 19:44:00  12315.8  12317.8  12315.5  12317.0      31
2019-07-17 19:45:00  12317.6  12319.0  12317.0  12318.0      23
2019-07-17 19:46:00  12318.0  12319.0  12316.2  12316.2      12
2019-07-17 19:47:00  12313.8  12315.8  12312.2  12312.5      29
2019-07-17 19:48:00  12312.0  12315.8  12312.0  12313.3      50
2019-07-17 19:49:00  12313.0  12314.0  12312.0  12313.6      37
2019-07-17 19:50:00  12313.0  12315.8  12311.5  12312.8      66
2019-07-17 19:51:00  12313.2  12315.8  12312.8  12315.3      32
2019-07-17 19:52:00  12315.8  12316.2  12314.5  12315.8      40
2019-07-17 19:53:00  12316.3  12318.3  12316.0  12317.5      46
2019-07-17 19:54:00  12317.8  12318.3  12316.0  12317.0      46
2019-07-17 19:55:00  12316.6  12316.6  12312.6  12314.6      46
2019-07-17 19:56:00  12314.0  12314.0  12310.2  12310.6      17
2019-07-17 19:57:00  12309.8  12311.6  12309.8  12311.0      12
2019-07-17 19:58:00  12311.6  12312.8  12311.3  12312.5      12
2019-07-17 19:59:00  12312.5  12312.5  12312.5  12312.5       1

[14368 rows x 5 columns]